button.btn {
    margin-right: 10px;
    margin-bottom: 10px;
}

input.form-control {
    margin-bottom: 10px;
}

.margin-bottom-10px {
    margin-bottom: 10px;
}

.margin-left-10px {
    margin-left: 10px;
}

.margin-right-10px {
    margin-right: 10px;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}